@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";
@import "../../css/typography.css";



.button {
    height: 2rem;
    padding: 0.35rem;
    outline: none;
    background: white;
    border-radius: 0.5rem;
    border: 1px solid $ui-black-transparent;
    cursor: pointer;
    font-size: 0.85rem;
    transition: 0.2s;
    user-select: none;
    margin: 0px;
}

.main-content {
    background-color: $ui-white;
    border: 1px solid $ui-black-transparent;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.addons {
    background-color: $ui-white;
    border: 1px solid $ui-black-transparent;
    padding: calc(2 * $space);
    display: flex;
    flex-direction: column;   
    height:80px;
    width:80%;
}

.block {
    background-color: $ui-white;
    border: 1px solid $ui-black-transparent;
    padding: calc(2 * $space);
    display: flex;
    flex-direction: column;
}

.even-row {
    background-color: $ui-secondary;
}

.odd-row {
    background-color: $ui-tertiary;
}

.error {
    color: $error-light;
    text-align: center;
}

.connect_line {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10;
}

.connect_text {
    flex: 1;
    margin-left: 10;
    font-size: 1.2rem;
}

.label {
  font-size: 1.2rem;
  font-family: 'Lato-Regular';
  color: black;
}

.info {
  font-size: 1.1rem;
  font-family: 'Lato-Regular';
  color: black;
  width: 300px;
}

.addon_column {
    float: left;
    width: 30%;
}

.icon_column {
    float: left;
    width: 10%;
}