@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";
@import "../../css/typography.css";



.button {
    height: 2rem;
    padding: 0.35rem;
    outline: none;
    background: white;
    border-radius: 0.5rem;
    border: 1px solid $ui-black-transparent;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
    user-select: none;
    margin: 0px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.main-content {
    background-color: $ui-white;
    border: 1px solid $ui-black-transparent;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}



.block {
    background-color: $ui-white;
    border: 1px solid $ui-black-transparent;
    padding: calc(2 * $space);
    display: flex;
    flex-direction: column;
}


.error {
    color: $error-light;
    text-align: center;
}

.connect_line {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10;
}

.connect_text {
    flex: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.label {
  font-size: 1.2rem;
  font-family: 'Lato-Regular', Helvetica, Arial, sans-serif;
  color: black;
  padding-right: 0.5rem;

}

.connectInfo {
  font-size: 1.2rem;
  font-family: 'Lato-Regular', Helvetica, Arial, sans-serif;
  color: black;
  padding-bottom: 0.5rem;
}


.even-row {
    background-color: $ui-secondary;
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: calc(1.2 * $space);
}

.odd-row {
    background-color: $ui-tertiary;
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: calc(1.2 * $space);
}


.addons {
    display: flex;
    flex-direction: column;   
    margin-top: 10;
    font-family: 'Lato-Regular', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    
}

.addon_title {
    font-weight: bold;
    padding: calc(1.2 * $space);
}

.addon_name {
    flex: 0;
    min-width:160px;

}

.addon_divider {
    flex: 1 5%;
    max-width: 2rem;
}

.addon_type {
    flex: 2;
    min-width:150px;

}
